{% extends 'events/base.html' %}
{% load static %}

{% block title %}dashboard{% endblock %}

{% block content %}



<h2>Registered Users</h2>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Area of Interest</th>
            </tr>
        </thead>
        <tbody>
            {% for registrant in registrants %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ registrant.name }}</td>
                    <td>{{ registrant.email }}</td>
                    <td>{{ registrant.get_interest_display }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No registrants found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>




{% endblock %}